.app-header {
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(15px) saturate(30%);
  background-color: rgba(2, 2, 46, 0.42);
  color: #fff;
  height: 15vh;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.app-header-matrix-button{
font-size: 2rem;
transition: 1s;
height: 100%;
/* font-size: 1rem; */
padding: 0.4rem 0.2rem 0rem 0.2rem;
display: contents;
transition: 1s;
}

.app-header-matrix-button:hover{
  background-color: rgba(243, 245, 247, 0.12);
  color: rgb(255, 153, 0);
  cursor: pointer;
}
.app-header-matrix{
  position: fixed;
  z-index: 2;
  right: 1%;
  top: 105%;
  width: 200px;
  height: 260px;
  backdrop-filter: blur(50px);
  background-color: rgba(134, 134, 150, 0.97);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 10px 20px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.app-header img {
  margin-top: 2%;
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
}

.app-header .main-nav a {
  text-decoration: none;
  color: inherit;
}

.app-header .main-nav a.active {
  color: rgb(255, 153, 0);
}
.header-logo {
  height: 100%;
  font-size: 1rem;
  padding: 0.4rem 0.2rem 0rem 0.2rem;
display: contents;
  transition: 1s;
}
.header-logo:hover {
  background-color: rgba(243, 245, 247, 0.12);
  color: rgb(255, 153, 0);
  cursor: pointer;
}

.nav-btn-div {
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  /* display: flex; */
  /* justify-content: center; */
  max-height: 70px;
  /* border-bottom: 1px solid #5a676b; */
  /* border-inline-start: 1px solid #dfe5e7; */
  /* border-inline-end: 2px solid #dfe5e7; */

  /* margin-left: 1rem; */
  padding: 0.8rem 1rem 0rem 1rem;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.nav-btn-div.home {
  /* border-inline-start: 2px solid #dfe5e7; */
}

.nav-btn-div:hover {
  color: rgb(255, 153, 0);
  /* backdrop-filter: blur(11px) saturate(77%); */
  /* background-color: rgba(243, 245, 247, 0.12); */
  box-shadow: inset 0px -4px 0 rgb(255, 153, 0);
  cursor: pointer;
}

.nav-btn-div-exit{
  position: fixed;
  /* display: inline-block; */
  align-items: left;
  text-align: left;
  transform: translate(65px, -110px);
  font-size: 2rem;
  /* display: flex; */
  /* justify-content: center; */
  height: 100px;
  width: 100px;
  /* border-bottom: 1px solid #5a676b; */
  /* border-inline-start: 1px solid #dfe5e7; */
  /* border-inline-end: 2px solid #dfe5e7; */

  /* margin-left: 1rem; */
  padding: 0.8rem 1rem 0rem 1rem;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  /* border: 2px solid rgba(255, 255, 255, 0.9);; */
}

nav-btn-div-exit:hover{
  color: rgb(255, 153, 0);
  /* backdrop-filter: blur(11px) saturate(77%); */
  /* background-color: rgba(243, 245, 247, 0.12); */
  box-shadow: inset 0px -4px 0 rgb(255, 153, 0);
  cursor: pointer;
}
.fa-times{

}
.main-nav {
  height: 100%;
}
