.email-preview-item {
  border-top: 1px solid;
  background-color: rgba(255, 255, 255, 0.32);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.425);

  padding: 20px;
}

.mail-list {
  width: 100%;
}

.mail-app {
  display: flex;
}

.mail-app-container {
  gap: 20px;
}

@media (max-width: 768px) {
  .mail-app {
    display: flex;
    flex-direction: column;
  }
  .mail-boxes {
    display: flex;
    flex-direction: row;
  }

  .drop-down-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }
}
