.note-add-screen {
  position: fixed;
  z-index: 10;
  left: 25%;
  top: 25%;
  width: 50vw;
  height: 350px;
  /* overflow */
  backdrop-filter: blur(20px);
  background-color: rgba(196, 189, 189, 0.12);
  border-radius: 12px;
  border: 3px solid rgba(99, 96, 96, 0.125);
  padding: 10px 20px 0px 10px;
  /* justify-content: center; */
  align-items: center; 
}

.review-add .review-modal {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  text-align: center;
}